<nav class="nav navbar-expand-lg footer-bg">
  <div class="container border-top py-5">
    <div class="container-fluid">
      <div
        class="navbar-nav d-flex justify-content-center justify-content-sm-center mb-4"
      >
        <div class="d-flex justify-content-start">
          <p>Spoonful</p>
          <p>食噗否</p>
        </div>
        <a class="nav-link text-black px-4 py-2" href="#">常見問題</a>
        <a class="nav-link text-black px-4 py-2" href="#">聯絡我們</a>
        <a class="nav-link text-black px-4 py-2" href="#">服務條款</a>
        <a class="nav-link text-black px-4 py-2" href="#">隱私政策</a>
      </div>
      <p class="text-center text-secondary">© 權利說明</p>
    </div>
  </div>
</nav>
