<div class="footer-top"></div>
<footer class="nav navbar-expand-lg footer-bg">
  <div class="container py-5">
    <div class="container-fluid">
      <div class="footer-logo float-lg-start">
        <a class="nav-link" href="index.html">
          <p class="text-white">Spoonful</p>
          <p class="text-white">食噗否</p>
        </a>
      </div>
      <ul
        class="navbar-nav d-flex justify-content-center mb-4 text-white footer-links"
      >
        <li><a class="nav-link px-4 py-2" href="#">常見問題</a></li>
        <li><a class="nav-link px-4 py-2" href="#">聯絡我們</a></li>
        <li><a class="nav-link px-4 py-2" href="#">服務條款</a></li>
        <li><a class="nav-link px-4 py-2" href="#">隱私政策</a></li>
      </ul>
      <p class="text-center copy">© 權利說明</p>
    </div>
  </div>
</footer>
