.result-container {
  .card {
    border: none;
  }
  .card-body {
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: 992px) {
      height: 270px;
      overflow: hidden;
    }
  }
  .pagination .page-link {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  margin-bottom: 60px;
  @media screen and (min-width: 992px) {
    margin-bottom: 120px;
  }
}

.result-card-container {
  position: relative;
}
.img-custom {
  position: absolute;
  right: 24px;
  top: 24px;
}

.yellow-brown-food-background {
  height: 500px;
  background: url("/assets/images/searchbar-bg-sm.png"),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/images/yellow-brown-food.jpg");

  background-position: center bottom, center center, center center;
  background-size: 100% 50px, cover, cover;
  background-repeat: no-repeat;

  margin-bottom: 60px;
  padding-top: 80px;
  @media screen and (min-width: 992px) {
    height: 380px;
    background: url("/assets/images/searchbar-bg.png"),
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/assets/images/yellow-brown-food.jpg");
    background-position: center bottom, center center, center center;
    background-size: 100% 115px, cover, cover;
    background-repeat: no-repeat;
    padding-top: 140px;
    margin-bottom: 120px;
  }
}
